
.bg-soft-yellow
    background-color: #fdf9d6

.navSearch
    order: 1

.selected-link
    padding-left: 5px !important
    color: #fdf9d6 !important
    background-color: #72705f
    border-radius: 99px
