
.navBar
    display: flex
    padding-left: 50px
    padding-right: 50px
    flex-direction: row
    gap: 20px
    justify-content: left
    align-items: center
    background-color: burlywood
    .navItem
        &:hover
            cursor: pointer
        &:nth-last-child(2)
            flex-grow: 1

